<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2"
                   rowHeight="550px">
        <mat-grid-tile [colspan]="2"
                       [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Integrantes por Proyecto
                        <button mat-icon-button
                                class="more-button"
                                [matMenuTriggerFor]="menu"
                                aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
                        <mat-menu #menu="matMenu"
                                  xPosition="before">

                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div class="loading-shade"
                         *ngIf="isLoadingResults">
                        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    </div>
                    <div fxLayout="row"
                         fxLayoutAlign="space-around center"
                         fxLayout="row"
                         fxLayout.sm="column"
                         fxLayoutGap="16px">
                        <mat-card class="card-size-group class.mat-elevation-z8"
                                  *ngFor="let project of projects">
                            <mat-card-title>
                                {{project.name}}
                            </mat-card-title>
                            <mat-card-content>
                                <p>
                                    <mat-icon matBadge="{{project.teamSize}}"
                                              matBadgeColor="warn">group</mat-icon>
                                </p>

                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>