.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
    min-height: 300px;
}

.card-size-group {
    min-width: 160px;
    max-width: 500px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 70px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}