<div class="content-card">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form"
                  fxLayout="column"
                  (ngSubmit)="onSubmit()">
                <p>Please login to continue</p>
                <div>
                    <mat-form-field class="full-width-input">
                        <input matInput
                               placeholder="User Name"
                               formControlName="userName"
                               required>
                        <mat-error *ngIf="isValidInput('userName')">
                            Please insert your User Name
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width-input">
                        <input matInput
                               type="password"
                               placeholder="Password"
                               formControlName="userPassword"
                               required>
                        <mat-error *ngIf="isValidInput('userName')">
                            Please insert your Password
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button
                            color="primary"
                            type="submit">Login</button>
                </div>
            </form>
        </mat-card-content>
        <mat-card-footer>
            Hr Management
        </mat-card-footer>
    </mat-card>
</div>